*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
}
body{
    background-color:rgb(41, 50, 78);
}
header{
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 30px 100px;
}
header img{
    width: 70px;
    height: 70px;
    object-fit:cover;
    border-radius: 70px;
}
header h1{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 40px;
    color: white;
    padding: 10px;

}
main{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content:center;
    align-items:center;
    margin-top: 130px;
}
.download-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    
}
.video-name-title{
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid white;
    border-right: none;
}
.download-link-title{
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}  
.video-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid white;
    border-top: none;
    border-right: none;
}
.download-link{
    display: flex;
    justify-content: center;
    align-items: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-top: none;
}  